.title {
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 38, 85);
    margin-bottom: 50px;
  }

  .spacing {
    padding-top: 30px;
    display: flex;
    justify-content: center;
 }

 .center{
    display: flex;
    justify-content: center;
 }

 .text{
    padding-top: 60px;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
 }

 .right{
    display: flex;
    justify-content: right;
 }

 .button{
    display: flex;
    justify-content: center;
    padding: 20px;
 }

 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(rgb(134, 116, 116), rgb(143, 126, 126)) no-repeat center/2px 100%;
  }
  
  .contract-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
 
  .buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    
  }

  .buttoncenter{
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }


  .buttoncenter1{
   display: flex;
   justify-content: center;
   
 }

  